/* START ASSET TABLE */

.assets-table .assets-table-row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .assets-table .assets-table-row > * {
    display: table-cell;
    vertical-align: middle;
  }
  
  .assets-table .assets-table-row.header, .assets-table .assets-table-row.asset-data {
    height: 52px;
  }
  
  .assets-table .assets-table-row.header > *, .assets-table .assets-table-row.asset-data > * {
    font-size: 16px;
  }
  
  .assets-table .assets-table-row.header > * {
    color: #78838e;
    font-weight: 600;
  }
  
  .assets-table .assets-table-row.asset-data {
    border-top: 1px #2d2f39 solid;
  }
  
  .assets-table .assets-table-row.asset-data:not(.loading):hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .assets-table .assets-table-row.asset-data > * {
    font-size: 16px;
    word-break: break-all;
  }
  
  .assets-table .assets-table-row.loading img {
    display: block;
    margin: auto;
    height: 45px;
    width: 45px;
    padding: 3px 0;
  }
  
  .assets-table .assets-table-row > div:nth-child(1) {
    padding-left: 0px;
  }
  
  .assets-table-row {
    color: #FFF !important;
  }
  
  .assets-table-row:not(.header) .asset-id {
    word-break: break-all;
  }
  
  .assets-table .right-align {
    text-align: right;
  }
  
  .sortable{
    cursor: pointer;
  }
  .desc::after{
    content: "\25B2";
    font-size: 12px;
    margin-left:4px;
  }
  
  .asc::after{
    content: "\25BC";
    font-size: 12px;
    margin-left:4px;
  }
  
  .sortable:hover {
    color: #c2c2c3 !important;
  }
  
  .asset-error{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #a95c5c;
  }
  
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #eee;
  }
  
  .pagination .numbers{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination .pagelink{
    display: block;
    width: 40px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #22242c;
    color: white;
    margin: 0 .2rem 0 .2rem;
  }
  
  .pagination .numbers .current{
    border: 1px solid #00ccff;
  }
  
  .pagination .control{
    display: flex;
    margin: 0 .5rem 0 .5rem;
  }
  
  .pagination .control a{
    color: #00ccff;
    margin-right:.5rem;
  }
  
  
  @media only screen and (min-width: 851px) {
    .assets-table .assets-table-row .ticker {
      width: 6em;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .blocks-table .blocks-table-row > div:nth-child(2) {
      width: 250px;
    }
  }
  
  @media only screen and (max-width: 850px) {
  
      /* assets table */
  
      .asset-label{
        width: 40%;
      }
  
      .asset-text{
        text-align: right;
        width: 60%;
      }
  
      div.assets-table-row.header .supply{
        display:none;
      }
  
      div.assets-table-row.header .domain{
        width: 50%;
      }
  
      /* table row (asset) */
      .assets-table-row {
        margin: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        height: auto !important;
        padding: 20px;
      }
  
      .assets-table-link-row {
        margin-bottom: 20px;
      }
  
      .assets-table-link-row:nth-child(odd) {
        background: #22242c;
      }
  
      /* table row (transaction item) */
      .assets-table .assets-table-row.asset-data > *{
        border: none;
        position: relative;
        padding-left: 0 !important;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        text-align: right;
      }
  
      .assets-table-row {
        /* Behave  like a "row" */
        display: block;
      }
  
      div.assets-table-cell:before {
        width: 45%;
        padding-right: 10px;
        font-weight: 600;
        color: #78838e;
        word-break: initial;
      }
  
      /*
      Label the data
      */
      div.assets-table-cell:before { content: attr(data-label); text-align: left;}
  }
  



/* ASSET TABLE MOBILE */


 /* Pagination remove numbers on Mobile - show Next and Prev instead */
 @media only screen and (max-width: 500px) {
    .pagination .numbers{
      display: none;
    }
    .pagination .next, .pagination .prev{
      width: 85px;
      display: flex;
    }
    .pagination .next::before {
      content: "Next";
      line-height: 1.7;
      padding: 0 4px;
    }
    .pagination .prev::after {
      content: "Prev";
      line-height: 1.7;
      padding: 0 4px;
    }
  }
  
  /* smallest iPhone */
  @media only screen and (max-width: 320px) {
    .assets-table .assets-table-row.header .assets-table-cell{
      font-size: 12px;
    }
  }
  
  
  