variables:
  CI_DISPOSABLE_ENVIRONMENT: "true"
  CLOUD_SDK_VERSION: "218.0.0"
  DOCKER_DRIVER: overlay2

image: blockstream/gcloud-docker@sha256:31c1a01d143558f0ba5677d121891a958fa600195679fe325980ec72e5264f2a
stages:
  - build
  - deploy

before_script:
  - TMPF=$(mktemp) || exit 1
  - echo $GCLOUD_KEY > $TMPF
  - export GOOGLE_APPLICATION_CREDENTIALS=$TMPF
  - gcloud auth activate-service-account --key-file=$TMPF
  - gcloud auth list
  - gcloud --version
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USER" --password-stdin

test_docker_build_image:
  image: docker@sha256:f7211e1779c82e3a50d0d6f165e83f3e2be217a234b0181d5e8bee411d8fcc5f
  stage: build
  before_script:
    - echo "Disabling before script"
  except:
    - tags
    - master
  script:
    - docker pull blockstream/esplora-base:latest
    - docker pull blockstream/esplora:latest
    - docker build
        --cache-from blockstream/esplora-base:latest
        -f Dockerfile.deps
        -t esplora-base .
    - docker build
        --squash
        --build-arg CUSTOM_HTML='<!-- '"$CI_COMMIT_SHA"'-->'
        --cache-from blockstream/esplora:latest
        -t esplora .
    - docker rmi esplora-base
    - docker rmi esplora

build:
  stage: build
  only:
    - /^bitcoin_mainnet.*/
    - /^bitcoin_testnet.*/
    - /^liquid_mainnet.*/
    - master@greenaddress/esplora
  script:
    - docker pull blockstream/esplora-base:latest || true
    - docker build --cache-from blockstream/esplora-base:latest -t blockstream/esplora-base:$CI_COMMIT_REF_SLUG -t blockstream/esplora-base:latest -f Dockerfile.deps .
    - docker push blockstream/esplora-base:latest
    - esplora_base_sha=$(docker inspect --format='{{index .RepoDigests 0}}' blockstream/esplora-base:$CI_COMMIT_REF_SLUG)
    - sed -i "s~blockstream/esplora-base:latest~${esplora_base_sha}~g" Dockerfile
    - curl "https://hub.docker.com/v2/repositories/blockstream/esplora/tags/" | grep -q "$CI_COMMIT_SHA" || (
        docker pull blockstream/esplora:latest
        && docker build
          --build-arg CUSTOM_HTML='<!-- '"$CI_COMMIT_SHA"' -->'
          --cache-from blockstream/esplora:latest
          -t blockstream/esplora:latest .
        && docker push blockstream/esplora:latest
        && docker build
          --squash
          --build-arg CUSTOM_HTML='<!-- '"$CI_COMMIT_SHA"' -->'
          --cache-from blockstream/esplora:latest
          -t blockstream/esplora:$CI_COMMIT_SHA .
        && docker push blockstream/esplora:$CI_COMMIT_SHA)

deploy:
  stage: deploy
  image:
    name: blockstream/gcloud-docker@sha256:31c1a01d143558f0ba5677d121891a958fa600195679fe325980ec72e5264f2a
    entrypoint: [""]
  only:
    - master@greenaddress/esplora
  script:
    - (cd terraform && terraform init -input=false)
    - (cd terraform && terraform workspace select main)
    - (cd terraform && terraform apply
        -var "prometheus_allowed_source_ip=$PROMETHEUS_ALLOWED_SOURCE_IP"
        -var "machine_type=$GRAF_PROM_MACHINE_TYPE"
        -var "hosts=$HOSTS"
        -var "hosts_onion=$HOSTS_ONION"
        -var "cluster_size=$NODE_CLUSTER_SIZE"
        -var "instance_type=$NODE_INSTANCE_TYPE"
        -var "regions=$REGIONS"
        -var "zones=$ZONES"
        -var "ssl_certs=$SSL_CERTS"
        -var "opsgenie_api_key=$OPSGENIE_API_KEY"
        -input=false -auto-approve)

deploy_bitcoin_mainnet:
  stage: deploy
  image:
    name: blockstream/gcloud-docker@sha256:31c1a01d143558f0ba5677d121891a958fa600195679fe325980ec72e5264f2a
    entrypoint: [""]
  only:
    - /^bitcoin_mainnet.*/
  script:
    - (cd terraform && terraform init -input=false &&
       terraform workspace select bitcoin-mainnet &&
       terraform apply
        -var "docker_tag_explorer=blockstream/esplora:$CI_COMMIT_SHA"
        -var "cluster_size=$NODE_CLUSTER_SIZE"
        -var "instance_type=$NODE_INSTANCE_TYPE"
        -var "regions=$REGIONS"
        -var "zones=$ZONES"
        -input=false -auto-approve)

deploy_bitcoin_testnet:
  stage: deploy
  image:
    name: blockstream/gcloud-docker@sha256:31c1a01d143558f0ba5677d121891a958fa600195679fe325980ec72e5264f2a
    entrypoint: [""]
  only:
    - /^bitcoin_testnet.*/
  script:
    - (cd terraform && terraform init -input=false &&
       terraform workspace select bitcoin-testnet &&
       terraform apply
        -var "docker_tag_explorer=blockstream/esplora:$CI_COMMIT_SHA"
        -var "cluster_size=$NODE_CLUSTER_SIZE"
        -var "instance_type=$NODE_INSTANCE_TYPE"
        -var "regions=$REGIONS"
        -var "zones=$ZONES"
        -input=false -auto-approve)

deploy_liquid_mainnet:
  stage: deploy
  image:
    name: blockstream/gcloud-docker@sha256:31c1a01d143558f0ba5677d121891a958fa600195679fe325980ec72e5264f2a
    entrypoint: [""]
  only:
    - /^liquid_mainnet.*/
  script:
    - (cd terraform && terraform init -input=false &&
       terraform workspace select liquid-mainnet &&
       terraform apply
        -var "docker_tag_explorer=blockstream/esplora:$CI_COMMIT_SHA"
        -var "cluster_size=$NODE_CLUSTER_SIZE"
        -var "instance_type=$NODE_INSTANCE_TYPE"
        -var "regions=$REGIONS"
        -var "zones=$ZONES"
        -input=false -auto-approve)
