.navbar-brand::before {
  background: url(img/icons/explorer_logo.svg);
  background-size: cover;
  width: 245px;
  margin: 0;
  background-repeat: no-repeat;
}

.theme-light .navbar-brand::before {
  background: url(img/icons/explorer_dark_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 245px;
  margin: 0;
}

.footer-logo::before {
  width: 220px;
  height: 93px;
  background-image: url(img/blockstream-full-logo.png);
  background-size: 100%;
  content: ' ';
  display: block;
}
.footer-logo {
  margin-right: 0px;
}
.footer-links {
  margin-top: 5px;
}
.theme-light .footer-logo::before {
  background-image: url(img/blockstream-full-logo-light.png);
}

@media only screen and (max-width: 1000px) {
  .footer-logo::before {
    width: 200px;
    height: 83px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-logo::before {
    margin-top: 30px;
  }

  .theme-light .navbar-brand::before, .navbar-brand::before {
    background: url(img/icons/blockstream-logo.png);
    background-size: 54px 54px;
    width: 54px;
  }
}


