body.theme-light {
    color: rgba(21, 24, 28, 1);
    background-color: #FFF;
}

.theme-light a, .theme-light a:link, .theme-light a:visited, .theme-light a:hover, .theme-light a:focus {
    color: #1187C1;
  }

.theme-light .main-nav li a, .theme-light .sub-nav a{
    color: rgba(21, 24, 28, 1);
}

.theme-light .toggle-container .toggle-menu{
    background: none;
    background-color: whitesmoke;
    box-shadow: 0 20px 40px lightgray;
}

.theme-light .toggle-menu .section2 a{
    color: rgba(21, 24, 28, 1);
}

.theme-light .toggle-menu .section2 a:hover{
    color: #1187C1;
}

.theme-light .toggle-menu .section1 .wallets-link .store-icons a{
    color: rgba(21, 24, 28, 1);;
}

.theme-light .toggle-menu .section1 .wallets-link .store-icons a:hover{
    color: #1187C1;
}

.theme-light .toggle-menu .section1 .wallets-link .wallets-logo .lightmode {
    display: block;
}

.theme-light .toggle-menu .section1 .wallets-link .wallets-logo .darkmode {
    display: none;
}

.theme-light .toggle-menu .section1 .wallets-link .wallets-logo a:hover img{
    filter: brightness(0) invert(0);
}

.theme-light .toggle-menu .section1 .wallets-link .wallets-logo a:nth-child(4){
    border-left: 1px solid #78838e;
    margin-left: 20px;
    height: 30px;
}

.theme-light .toggle-menu .section1 .wallets-link .store-icons a img.lightmode{
    display:block;
}

.theme-light .toggle-menu .section1 .wallets-link .store-icons a img.darkmode{
    display:none;
}

.theme-light .nav-link:hover {
    color: #1187C1 !important;
  }

.theme-light .sub-navbar{
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px lightgray;
}

.theme-light .blocks-table, .theme-light .transactions-table, .theme-light .stats-table, .theme-light .assets-table{
    background: none;
    box-shadow: 1px 0px 5px 1px lightgray;
    padding: 30px;
}

.theme-light .pagination .pagelink{
    background-color: whitesmoke;
    color: rgba(21, 24, 28, 1);
}

.theme-light .pagination .pagelink img{
    filter: brightness(0) saturate(100%) invert(40%) sepia(89%) saturate(604%) hue-rotate(159deg) brightness(91%) contrast(96%);
}


.theme-light .pagination .numbers .current{
    border: 1px solid #1187C1;
}


.theme-light .pagination .control a{
    color: #1187C1;
}

.theme-light .blocks-table-row {
    color: rgba(21, 24, 28, 1) !important;
}

.theme-light .transactions-table-row {
    color: rgba(21, 24, 28, 1) !important;
}

.theme-light .assets-table-row {
    color: rgba(21, 24, 28, 1) !important;
}

.theme-light .highlighted-text {
    color: #1187C1 !important;
}

.theme-light .explorer-container > .footer {
    background-color: #fff;
    border-top: 1px #dcdcdc solid;
}

.theme-light .transaction-box {
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.theme-light .transaction-box > .ins-and-outs > .vins > div:not(.vin-loading), .theme-light .transaction-box > .ins-and-outs .vouts > div:not(.vin-loading) {
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.theme-light .transaction-box > .ins-and-outs > .vins > div:not(.vin-loading) > .vin-body, .theme-light .transaction-box > .ins-and-outs > .vins > div:not(.vin-loading) .vout-body, .theme-light .transaction-box > .ins-and-outs .vouts > div:not(.vin-loading) > .vin-body, .theme-light .transaction-box > .ins-and-outs .vouts > div:not(.vin-loading) .vout-body {
    background-color: #fff;
}

.theme-light .language-selector, .theme-light .language-submit {
    background-color: transparent;
    color: rgba(21, 24, 28, 1);
}

.theme-light .prev-next-blocks-btns > div a > div {
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px lightgray;
}

.theme-light .prev-next-blocks-btns > div a, .theme-light .prev-next-blocks-btns > div a:link, .theme-light .prev-next-blocks-btns > div a:visited, .theme-light .prev-next-blocks-btns > div a:hover, .theme-light .prev-next-blocks-btns > div a:focus {
    color: rgba(21, 24, 28, 1) !important;
}

.theme-light .blocks-table-link-row:nth-child(odd) {
    background: #fff;
}

.theme-light .transactions-table-link-row:nth-child(odd) {
    background: #fff;
}

.theme-light .search-bar {
    background-color: #fff;
}

.theme-light .title-bar-recent h1 .active {
      color: #000000;
}

.theme-light .blocks-table .blocks-table-row.block-data {
    border-top: 1px #dcdcdc solid;
}

.theme-light .transactions-table .transactions-table-row.transaction-data {
    border-top: 1px #dcdcdc solid;
}

.theme-light .blocks-table .blocks-table-row.block-data:not(.loading):hover,
.theme-light .transactions-table .transactions-table-row.transaction-data:not(.loading):hover,
.theme-light .assets-table .assets-table-row.asset-data:not(.loading):hover {
    background-color: whitesmoke;
}

.theme-light .assets-table .assets-table-row.asset-data {
    border-top: 1px #dcdcdc solid;
}

.theme-light .stats-table > div {
    border-top: 1px #dcdcdc solid;
}

.theme-light .stats-table > div:last-child{
    border-bottom: 1px #dcdcdc solid;
}

.theme-light .search-bar-input, .theme-light .search-bar-input:focus{
    color: #22242c;
}

.theme-light .dash-container .view-more img{
   filter: brightness(0) saturate(100%) invert(40%) sepia(89%) saturate(604%) hue-rotate(159deg) brightness(91%) contrast(96%); 
}

.theme-light .direction-arrow, .theme-light .arrow-prev, .theme-light .arrow-next {
    filter: brightness(0) saturate(100%) invert(40%) sepia(89%) saturate(604%) hue-rotate(159deg) brightness(91%) contrast(96%);
}


/* keep this for now - dark menu button */
/* .theme-light .navbar-toggler {
  border-color: rgba(17, 19, 22, 0.5);
}
.theme-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17, 19, 22, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
} */

.theme-light .footer_container_content_row_onion_link {
  color: inherit !important;
}

.theme-light .footer_container_content_row_social-media_item{
    filter: brightness(0) invert(0);
}

.theme-light .nav-bar_moon_icon {
    background-image: url("img/icons/moon_light.png");
}

.theme-light .footer_container_content_row_onion_icon {
    background-image: url("img/onion_light.png");
}

.theme-light {
    color: #fff;
}

.theme-light table th, .theme-light table td {
  border-color: #dee2e6 !important;
}

.theme-light .blocks-table .blocks-table-row > * {
    color: #080B0E;
}


@media only screen and (max-width: 850px) {
    .theme-light .assets-table-link-row:nth-child(odd)  .assets-table-row {
       color: #fff !important; 
    }
} 

.theme-light .prev-next-blocks-btns > div a > div:hover {
    background-color: #B7BABD;
  }