
.sub-nav .active{
  border-bottom: solid 2px #46beae;
}

.details-btn > div { 
    color: #46beae;
    border: 1px solid #46beae;
}

.transaction-box > .footer > div:nth-child(3) {
    color: #46beae;
}

.navbar {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}

.main-nav li.active a{
  border: 1px solid #46beae;
}