
.jumbotron-fluid {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}

.search-bar {
    border: 1px solid rgba(72, 183, 169, 1);
    box-shadow: 0px 0px 6px 0px rgba(70, 180, 165, 1);
}

.details-btn > div { 
    color: rgba(40, 148, 143, 1);
    border: 1px solid rgba(40, 148, 143, 1);
}

.transaction-box > .footer > div:nth-child(3) {
    color: rgba(40, 148, 143, 1);
}

.navbar {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}


/* New Asset Summary Start*/
.back-nav{
  margin-top: 100px;
  margin-bottom: 50px;
}

.back-nav a{
  color: #78838e;
}

.back-nav a:hover{
  color: #c2c2c3;
}

.back-nav span{
  font-size: 20px;
  margin-right: 10px; 
}

.asset-summary{ 
  color: white;
  margin-bottom: 100px;
}

.asset-logo{
  height:50px;
  width:50px;
  border-radius: 100%;
  margin-right: 20px;
}

.asset-summary .asset-icon-placeholder{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background: url(img/icons/asset_unknown.png);
  background-size: cover;
}

.asset-summary .asset-icon{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.asset-logo-name{
  display: flex;
  margin-bottom: 30px;
}

.asset-name{
  font-size: 22px;
}

.asset-name span{
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-top: -5px;
}



.asset-label-text{
  display: flex;
  margin-bottom: 20px;
  word-break: break-word;
}

.asset-label{
  width: 30%;
  color: #78838e;
}

/* Tab CSS Start *******/
.tabs {
  margin-top: 20px;
  font-size: 20px;
}

.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  padding: 10px 0 ;
  margin-right: 30px;
  width: auto;
  text-align: center;
  color: #78838e;
}

.tabs label:hover {
  cursor: pointer;
}

.tabs input:checked + label {
  border-bottom: 2px solid #00ccff;
  color: white;
}

.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2{
  display: block;
}

.tabs .content > div {
  display: none;
  padding-top: 20px;
  text-align: left;
  overflow: auto;
}
/* New Asset Summary End*/


/* Asset List Icons*/
.assets-table-cell .asset-icon-placeholder{
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  background: url(img/icons/asset_unknown.png);
  background-size: cover;
}

.assets-table-cell .asset-icon{
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
}

.assets-table-name span{
  word-break: break-all;
}

.assets-table .assets-table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.assets-table .assets-table-row > * {
  display: table-cell;
  vertical-align: middle;
}

.assets-table .assets-table-row.header, .assets-table .assets-table-row.asset-data {
  height: 52px;
}

.assets-table .assets-table-row.header > *, .assets-table .assets-table-row.asset-data > * {
  font-size: 16px;
}

.assets-table .assets-table-row.header > * {
  text-transform: uppercase;
  color: #78838e;
  font-weight: 600;
}

.assets-table .assets-table-row.asset-data {
  border-top: 1px #22242c solid;
}

.assets-table .assets-table-row.asset-data:not(.loading):hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.assets-table .assets-table-row.asset-data > * {
  font-size: 16px;
}

.assets-table .assets-table-row.loading img {
  display: block;
  margin: auto;
  height: 45px;
  width: 45px;
  padding: 3px 0;
}

.assets-table .assets-table-row > div:nth-child(1) {
  padding-left: 12px;
  padding-right: 15px;
}

.assets-table-row {
  color: #FFF !important;
}

.assets-table-row:not(.header) .asset-id {
  word-break: break-all;
}

@media only screen and (min-width: 851px) {
  .assets-table .assets-table-row .ticker {
    width: 6em;
  }
}

@media only screen and (max-width: 1000px) {
  .blocks-table .blocks-table-row > div:nth-child(2) {
    width: 250px;
  }
}

@media only screen and (max-width: 850px) {

    .asset-label{
      width: 40%;
    }

    .asset-text{
      text-align: right;
      width: 60%;
    }

    /* assets table */
    div.assets-table-row.header {
      display:none;
    }

    /* table row (asset) */
    .assets-table-row {
      margin: 0 0 1rem 0;
      display: flex;
      flex-direction: column;
      height: auto !important;
      padding: 20px;
    }

    .assets-table-link-row {
      margin-bottom: 20px;
    }

    .assets-table-link-row:nth-child(odd) {
      background: #22242c;
    }

    /* table row (transaction item) */
    .assets-table .assets-table-row.asset-data > * {
      border: none;
      position: relative;
      padding-left: 0 !important;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% !important;
      text-align: right;
      /* border-top: 1px solid #22242C; */
    }

    .assets-table-row {
      /* Behave  like a "row" */
      display: block;
    }

    div.assets-table-cell:before {
      width: 45%;
      padding-right: 10px;
      font-weight: 600;
      color: #78838e;
      word-break: initial;
    }

    /*
    Label the data
    */
    div.assets-table-cell:before { content: attr(data-label); text-align: left; width: auto;}
}


