
.jumbotron-fluid {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}

.search-bar {
    border: 1px solid rgba(72, 183, 169, 1);
    box-shadow: 0px 0px 6px 0px rgba(70, 180, 165, 1);
}

.explorer-title-container_logo {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.jumbotron-fluid.block-page {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}
  
.jumbotron-fluid.addr-page {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}
  
.jumbotron-fluid.transaction-page {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}

.details-btn > div { 
    color: rgba(40, 148, 143, 1);
    border: 1px solid rgba(40, 148, 143, 1);
}

.transaction-box > .footer > div:nth-child(3) {
    color: rgba(40, 148, 143, 1);
}

.navbar {
    background-image: linear-gradient(-90deg, rgba(13, 141, 119, 1) 0%, rgba(17, 103, 97, 1) 16%, rgba(25, 68, 74, 1) 35%, rgba(29, 42, 48, 1) 57%, rgba(14, 16, 17, 1) 100%);
}

.explorer-title-container {
    margin-top: 0;
}

.form-inline {
    margin-top: -15px;
}


@media only screen and (max-width: 450px) {
    .explorer-title-container_logo {
        height: 70px;
        width: auto;
        margin-right: 10px;
    }
}

